*

!.gitignore
!LICENSE
!README.md
!CMakeLists.txt
!vcpkg.json

!ComponentInventory/
!ComponentInventory/**

!InventoryBackend/
!InventoryBackend/**

!tests/
!tests/**

!qtui/
!qtui/**

!.github/
!.github/**

